<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>    
        <rewrite>
			<rules>
				<rule name="SPA Routes" stopProcessing="true">
				<!-- match everything by default -->
				<match url=".*" />

				<conditions logicalGrouping="MatchAll">
					<!-- unless its a file -->
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

					<!-- or a directory -->
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

				</conditions>

				<!-- rewrite it to /index.html -->
				<action type="Rewrite" url="/cyb-portal-test/index.html" />

				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>